.footer {
  margin-top: auto;
}

.footer__content-wrapper {
  max-width: 1125px;
  margin: 0 auto;

  padding-top: 33px;
  padding-bottom: 33px;
}

.footer__navigation-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;

  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}
