.pokedex {
  //temp
  position: relative;
}

.pokedex__pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.pokedex__pokemon-item {
  width: calc(33.33% - 12px);
  margin-bottom: 45px;

  &--middle-item {
    margin-right: 18px;
    margin-left: 18px;
  }
}

.pokedex__header {
  text-align: center;
}
